<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TEACHFORINDIA</title>
  
  <link rel="stylesheet" href="css/style3.css" />
</head>

<body>
  <header class="header">
    <img src="https://static.businessworld.in/article/article_extra_large_image/1580388966_W2QVla_TFI_Logo.png"
      alt="teachforindia logo" class="logo" />
    {{!-- <h1>TEACHFORINDIA</h1> --}}

    <nav class="navbar">
      <ul class="navbar-list">
        <li><a class="navbar-link" href="/adminlogout">logout</a></li>
        </li>
      </ul>
    </nav>

    <div class="mobile-navbar-btn">
      <ion-icon name="menu-outline" class="mobile-nav-icon"></ion-icon>
      <ion-icon name="close-outline" class="mobile-nav-icon"></ion-icon>
    </div>
  </header>

  <!-- ======================================== 
          Our Main Hero Section Start  
    ============================ ============  -->
  <main>

    <section class="section-hero">
      <h1></h1>
       <table style="width: 60rem;">
      <tr>
        <th>Name</th>
        <th>Password</th>
        <th>Phone No</th>
        <th>Email-Id</th>
        <th>Location</th>
        <th>language</th>
        <th>Available</th>
      </tr>
    </table>

   
      
    </section>
  </main>

 

  <!-- ======================================== 
          Our JavaScript Section Start  
    ========================================  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="index.js"></script>
</body>

</html>